/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    /* Set the background color of the body to white */
    color: black;
    /* Set the default text color to black */
}

.app-container {
    display: grid;
    grid-template-areas:
        "header header"
        "map options";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 20px;
    height: 100vh;
}

/* Header styling */
.header {
    grid-area: header;
    text-align: center;
    background-color: white;
    /* Set the header background to white */
    color: black;
    /* Set the header text color to black */
}

.header-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.header-logo {
    height: 3em;
    /* Adjust height to match text size */
    vertical-align: middle;
    /* Aligns the image with the text */
}

.header-description {
    font-size: 18px;
    color: black;
    /* Ensure the description text is black */
}

/* Map styling */
.map {
    grid-area: map;
    width: 100%;
    height: 90%;
    /* Take full height of its grid area */
}

/* Options container styling */
.options-container {
    grid-area: options;
    display: flex;
    flex-direction: column;
}

/* Options styling */
.map_coloring_menu,
.pin_options {
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.map_coloring_menu p,
.pin_options p {
    margin: 10px 0;
    font-weight: bold;
}


.text-box {
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 350px;
    overflow: auto;
}

/* Radio items and checklist styling */
.dcc_control {
    margin-bottom: 10px;
}